.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .location {
    flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.employee {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customer {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .animal {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  .owners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .owner {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }
